<main>
  <h1>This is the Home Page</h1>
  <button>Learn More</button>

  <h3>Subheading</h3>
  <section style="background-image: url('https://www.imagesource.com/wp-content/uploads/2019/06/Rio.jpg')></section>

  <section id="discover">
  <h3>this is the discovery section</h3>

  <button> Learn More</button>
  </section>
</main>

